/*Styling using chaining selectors.*/

/*Adding styling for the proprtioned img making it smaller*/
.avatar.proportioned{
    height: auto;
    width: 300px
}

/*Adding styling to create a distored image.*/
.avatar.distorted{
    width: 200px;
    height: 400px
}
